.App {
  text-align: center;
}
.heading {
  font-size: 2rem;
  margin: 0;
}
/* Geosuggest */
.geosuggest__input {
  font-size: 18px;
  font-size: .75rem;
  width: 600px;
  height: 40px;
  padding: .5em;
}
.geosuggest__input:focus {
  outline: hidden;
}
.geosuggest__suggests {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 25em;
  width: 600px;
  padding: 0;
  margin: 0 auto;
  margin-top: -1px;
  background: #fff;
  border: 1px solid #ddd;
  /*border: 2px solid #267dc0;*/
  overflow-x: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__item {
  font-size: 18px;
  font-size: .75rem;
  line-height: 2;
  padding: .5em .65em;
  list-style-type: none;
}

.geosuggest__item:hover, .geosuggest__item:focus {
  background: #f5f5f5;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

/* Map */
.Map {
  margin: 20px auto;
}

/* Current Location */
.current-place .star {
  color: gold;
  font-size: 1.5rem;
  vertical-align: text-bottom;;
  margin-left: 10px;
  cursor: pointer;
}

.star:hover {
  color: goldenrod;
}

.place {
  font-size: 1.5rem;
  display: inline;
}
.current-coords {
  display: block;
  font-size: small;
}

.list-group {
  max-height: 400px;
  width: 600px;
  margin: 20px auto;
  overflow: auto;
}
.list-group-item {
  font-size: .75rem;
  text-align: center !important; /* figure out overriding style to remove !important */
  font-weight: bold;
}
.list-group-item:hover {
  text-decoration: none;
  cursor: pointer;
}
.list-group-item .star {
  color: gold;
  font-size: .75rem;
  margin-right: 10px;
}
.createdAt {
  display: block;
  font-size: small;
  font-weight: normal;
}